<h1>Clinical Safety Platform</h1>

<p>A proof of concept, MVP Clinical Safety Management Platform for Clinical Safety Officers</p>

<p>The Clinical Safety Platform is a web application that allows Clinical Safety Officers to manage their clinical safety data and share it with other clinical safety officers.</p>
