<h1>Editing clinical system</h1>

<%= render "form", clinical_system: @clinical_system %>

<br>

<div>
  <%= link_to "Show this clinical system", @clinical_system %> |
  <%= link_to "Back to clinical systems", clinical_systems_path %>
</div>
